/* src/styles/pagenotfoundstyles.css */

.pagenotfound-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Light gray background for the entire layout */
}

.pagenotfound-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagenotfound-container h1 {
  color: red; /* Red color for the 404 text */
  font-size: 48px;
  margin-bottom: 20px;
}

.pagenotfound-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.pagenotfound-container a {
  text-decoration: none;
}

.pagenotfound-container .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}
